.gallery-overview-container {
  margin-top: 50px;
}

.gallery-title {
  text-align: center;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.tag-container {
  display: flex;
  justify-content: center;
  margin-left: 10px;
}
