<div class="gallery-overview-container">
    <h1 class="gallery-title">{{this.title}}</h1>
    <div class="tag-container">
      <div *ngFor="let tag of tags">
        <gallery-tags [tag]=tag
                      (tagEvent)="filterCards($event)">
        </gallery-tags>
      </div>
    </div>
    <div class="image-container">
        <div *ngFor="let card of displayCards">
            <gallery-card [card]=card
                          (validationEvent)="submitValidation($event)">
            </gallery-card>
        </div>
    </div>
</div>
