<mat-card class="gallery-card">
  <div class="gallery-card-outer-container">
    <h1 class="mat-card-title">{{card.labelId}}</h1>
    <div class="gallery-card-inner-container">
      <div class="image-container"
           (mouseenter)="togglePanel()"
           (mouseleave)="togglePanel()">
        <div class="validation-container"
          [ngClass]="{'display': displayPanel, 'hide': !displayPanel}">
          <!-- Validation container holds the options for performing validations on Gallery
               labels. -->
          <div class="validation-panel"
            (click)="submitValidation(1)"
            [ngClass]="{'agree-selected': validationResult === 1,
                        'agree-deselected': validationResult !== 1}">
            <div class="validation-text" id="agree-text">Agree</div>
          </div>
          <div class="validation-panel" id="notsure-panel"
             (click)="submitValidation(3)"
             [ngClass]="{'notsure-selected': validationResult === 3,
                         'notsure-deselected': validationResult !== 3}">
            <div class="validation-text" id="notsure-text">Not sure</div>
          </div>
          <div class="validation-panel" id="disagree-panel"
             (click)="submitValidation(2)"
             [ngClass]="{'disagree-selected': validationResult === 2,
                         'disagree-deselected': validationResult !== 2}">
            <div class="validation-text" id="disagree-text">Disagree</div>
          </div>
        </div>
          <!-- Hard-coding image paths for cards. Should be changed to actual url later. -->
          <!--<img class="gallery-image" src="/assets/{{imageUrl}}"/> -->
        <div class="img-wrapper">
          <img class="gallery-image" src="{{imageUrl}}"/>
          <img class="label-icon" src="{{labelIcon}}"
          [ngStyle]="{'top': labelY + 'px',
                      'left': labelX + 'px'}">
        </div>
      </div>
      <div class="metadata-container">
        <mat-list class="metadata-list">
          <mat-list-item class="metadata-item-inline">
            <div class="metadata-description">Severity: </div>
            <div class="metadata-content">{{severity}}</div>
          </mat-list-item>
          <mat-list-item *ngIf="description" class="metadata-item-col">
          <div class="metadata-description">Description</div>
          <div class="metadata-content">{{description}}</div>
        </mat-list-item>
        <mat-list-item *ngIf="tags" class="metadata-item-col">
          <div class="metadata-description">Tags</div>
          <div class="metadata-content">{{tags}}</div>
          </mat-list-item>
        </mat-list>
      </div>
    </div>
  </div>
</mat-card>
