:host {
    width: 270px;
    margin-left: 10px;
}

::ng-deep mat-card.gallery-card {
    width: inherit;
    height: inherit;
    margin-left: 10px;
}

.gallery-card-inner-container img.gallery-image {
    width: 100%;
}

.gallery-metadata {
    display: flex;
}

.metadata-container {
    margin-top: 10px;
}

.metadata-description {
    font-weight: 500;
    margin-right: 10px;
}

.metadata-content {
    font-weight: 400;
}